Options -Indexes +Includes

DirectoryIndex index.html

ExpiresActive On
ExpiresDefault A86400

AddType text/html .html .shtml
AddOutputFilter INCLUDES .html .shtml
AddOutputFilterByType DEFLATE text/html text/plain text/xml text/css text/javascript application/javascript
