body {
  margin:0;
  padding:0;
  border:0;
  background-color: #ffffff;
  font-family: verdana, arial, helvetica, sans-serif;
  color:#202020;
  width:100%;
}

#navigation {
  top:0;
  min-height:2.5em;
  width:100%;
  background:#ffffff;
  border-bottom:1px #202020 solid;
  padding:0.25em;
  z-index:100;
}

#content {
  background-color:#ffffff;
  margin-left:0.25em;
  margin-right:0.25em;
  margin-bottom:0.25em;
  padding:0.5em;
  width:90%;
  overflow-x: auto;
  -ms-overflow-x: auto;
  overflow-y: auto;
  -ms-overflow-y: auto;
}

#navigation ul {
  list-style:none;
}

#navigation li {
  float:left;
  font-size:1.2em;
  font-weight:bold;
  padding:0.1em;
  line-height:1.0em;
}

#navigation a {
  color: #9f0000;
  text-decoration: none;
}

#navigation a:hover {
  color:#f7a51b;
}

#navigation a:active {
  color:#f7a51b;
}

#footer {
  width:100%;
  border-top:1px #202020 solid;
  margin-top:2em;
  margin:0;
  padding:0.5em;
  font-size:0.8em;
}

h1,h2,h3 {
  clear:left;
  font-weight: bold;
}

h1 {
  font-size: 1.5em;
  padding-bottom:0.3em;
}

h2 {
  font-size: 1.2em;
  padding-bottom:0.2em;
}

h3 {
  font-size: 1.1em;
  padding-bottom:0.1em;
}

dt {
  padding:0.2em;
  font-weight:bold;
}

p,dd,li,table,pre {
  padding:0.1em;
  margin-left:1.25em;
}

th {
  margin:0.3em;
  padding:0.3em;
  background-color:#f8f8f8;
  border-bottom: 1px #404040 solid;
}

td {
  margin:0.3em;
  padding:0.3em;
  border-bottom: 1px #404040 solid;
}

iframe {
  padding:0.75em;
  float:none;
}

img {
  padding:2%;
  margin:2%;
  max-width:40%;
  max-height:150px;
}

img:hover {
  max-height:none;
  max-width:90%;
}

a {
  text-decoration: underline;
  color: #9f0000;
}

a:visited {
  color: #808080;
}

a:hover {
  color: #f7a51b;
}

a:active {
  color: #f7a51b;
}

.float-none {
  float:none;
}

.float-left {
  float:left;
}

.float-right {
  float:right;
}

@media all and (min-width: 400px) and (min-height:600px) {

  html>body #navigation {
    position:fixed;
  }

  #content {
    padding:4.5em 1.5em 1.5em 1.5em;
    margin-left:1.25em;
    margin-right:1.25em;
    margin-bottom:1.25em;
  }

  a:target {
    padding-top:2.5em ;
  }

  #navigation {
    padding:1em;
  }

}
